POSTGRES_DB=stroke
POSTGRES_USER=postgres
POSTGRES_PASSWORD=P4ssword!
POSTGRES_DATA=/var/lib/postgres/compose
SPRING_PROFILES_ACTIVE=prod
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/${POSTGRES_DB:-stroke}
SPRING_DATASOURCE_USERNAME=${POSTGRES_USER:-postgres}
SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD:-P4ssword!}
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:8080,http://localhost:3000,http://localhost:8081, https://dev.stroke.sosna.co.ua 
BACKEND_LISTEN_PORT=8234
FRONTEND_LISTEN_PORT=7234
VITE_API_BASE_URL="https://api.dev.stroke.sosna.co.ua"